@font-face {
    font-family: 'ChakraPetch';
    src: url('./ChakraPetch-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Medium.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./Roboto-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Cyberpunk';
    src: url('./Cyberpunk.ttf');
}

:root {
    --cyber-blue: rgb(0, 240, 255);
    --cyber-deep-blue: rgb(0, 100, 107);
    --cyber-yellow: rgb(252, 238, 10);
    --cyber-deep-yellow: rgb(110, 105, 0);
    --cyber-deep-dark: black;
    --cyber-mid-dark: rgb(45, 55, 59);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: ChakraPetch, 'Roboto', sans-serif;
}

html, body {
    background-color:var(--cyber-deep-dark);
    height: 100%;
    overflow: auto;
}

.nav {
    user-select: none;
    margin-bottom: 50px;
}

h1 {
    font-family: 'Cyberpunk', sans-serif;
    color: var(--cyber-yellow);
    text-shadow: 2px 2px 0px var(--cyber-blue);
    font-size: 3rem;
    transform: translate(0, -5%);
}

.small-number {
    text-shadow: none;
    color: var(--cyber-blue);
    font-family: sans-serif;
    letter-spacing: -1px;
    font-weight: 100;
    font-size: x-large;
    font-style: italic;
    transform: translate(-35%, 70%);
}

.nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 24px;
    font-size: x-large;
}

.nav h1 {
    display: flex;
    justify-content: center;
    padding: 24px;
}

a {
    text-decoration: none;
    color: var(--cyber-blue);
}

li.selected {
    border: 1px solid var(--cyber-blue);
}

li {
    border: 1px solid transparent;
    padding: 0 6px;
}

li:hover > * {
    color: white;
}

li:hover.selected {
    border-color: white;
}

#root, .content-container {
    height: 100%;
    overflow: auto;
}

.content-container {
    padding: 50px;
}

.terminal {
    border: 1px solid var(--cyber-blue);
    padding: 50px;
}

.store-container.open-cart {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.store-container {
    position: relative;
}

#show-cart-button {
    position: absolute;
    top: 0;
    left: 90%;
    /* transform: translate(-100%); */
}

h3 {
    font-size: 32px;
}

p {
    font-size: 24px;
    text-align: justify;
    text-justify: inter-word;
}

.blocks-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.text-block {
    width: min(100%, 600px);
    padding-bottom: 24px;
    border-bottom: 1px solid var(--cyber-yellow);
}

.text-block:nth-child(2n) {
    align-self: flex-end;
}

.serial {
    text-align: end;
    color: var(--cyber-blue);
    transform: translate(45px, 50px);
}

button {
    background-color: var(--cyber-yellow);
	border: none;
	padding: 0px 10px;
	font-size: 26px;
	cursor: pointer;
}

button > div, button {
	color: var(--cyber-deep-blue);
    transform: translate(0, -5%);
}

.items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item p {
    font-size: 20px;
}

.item h4 {
    font-size: 24px;
}

.item-category h3 {
    margin-bottom: 24px;
}

.item {
    padding: 8px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--cyber-yellow);
    border-left: 1px solid var(--cyber-yellow);
}

.item {
    width: min(100%, 800px);
    display: flex;
}

.item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-controls {
    align-self: flex-end;
}

img {
    display: block;
    width: min(40%, 192px);
    height: min(40%, 192px);
}

.cart {
    background-color: var(--cyber-yellow);
    padding: 16px;
}

.cart * {
    color: var(--cyber-deep-blue);
}

.cart button {
    border: 1px solid var(--cyber-deep-blue);
}

.cart-header {
    display: flex;
    justify-content: space-between;
}